@using AlbumViewerBusiness
@using Westwind.Globalization
@using Westwind.Globalization.Sample.Properties
@using Westwind.Utilities
@model List<AlbumViewerBusiness.Album>
@{
    Layout = null;
    
    // Assign this from some application level setting
    bool allowResourceEditing = true;  // user.IsAdmin && App.Configuration.AllowResourcEditing        

    var id = Request.QueryString["id"];
    Album Album = null;
    if (!string.IsNullOrEmpty(id))
    {
        int intId = StringUtils.ParseInt(id, -1);
        Album = Model.FirstOrDefault(alb => alb.Id == intId);
    }
    if (Album == null)
    {
        Album = Model[0];
    }  
}
<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="description" content="">

    <link rel="shortcut icon" href="~/albumviewerSample/favicon.ico" type="image/x-icon"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black"/>
    <link rel="apple-touch-icon" href="touch-icon.png"/>

    <link rel="icon" href="~/albumviewerSample/touch-icon.png"/>
    <meta name="msapplication-TileImage" content="touch-icon.png">

    <title>West Wind Album Viewer</title>

    <link href="~/localizationAdmin/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet"/>    
    <link href="~/LocalizationAdmin/bower_components/fontawesome/css/font-awesome.min.css" rel="stylesheet"/>
    <link href="~/css/albumviewer.css" rel="stylesheet"/>
    <link href="~/Views/Albums/index.css" rel="stylesheet"/>
</head>
<body data-resource-set="AlbumViewerResources">

    <div id="TitleBar">
        <a href="~/albums">
            <img src="~/images/AlbumViewer/headphone-head.png"
                 style="height: 35px; float: left" />
            <div style="float: left; margin-left: 5px; line-height: 1.2">
                <i style="color: steelblue; font-size: 0.8em; font-weight: bold;">West Wind</i><br />
                <i style="color: whitesmoke; font-size: 1.25em; font-weight: bold;" data-resource-id="AlbumViewer">@AlbumViewerResources.AlbumViewer</i>
            </div>
        </a>
    </div>

    <div style="margin: 0; padding: 0; border: none;">
        <div class="banner">
            <nav id="Toolbar-Top" class="pull-right">
                <a href="~/albums">
                    <img src="~/images/AlbumViewer/record.png" title="Albums" /><span> <span data-resource-id="Albums">@AlbumViewerResources.Albums</span></span>
                </a>
                <a href="~/artists">
                    <img src="~/images/AlbumViewer/artists32.png" title="Artists" /> <span> <span data-resource-id="Artists"> @AlbumViewerResources.Artists</span></span>
                </a>               
            </nav>
        </div>

        <div id="MainView" class=" container-fluid"
             style="width: 100%; padding-top: 10px">

            <div class="alert alert-info hidden" data-resource-id="SampleNotice">
                Create Sample Notice Here
            </div>


            <button class="btn btn-sm btn-success pull-right" data-resource-id="AddAlbum"><i class="fa fa-plus"></i> @DbRes.T("AddAlbum", "AlbumViewerResources")</button>
            <div class="page-header-text"><i class="fa fa-list"></i> <span data-resource-id="Albums">@AlbumViewerResources.Albums</span> <span class="badge">@Model.Count</span></div>
            <hr />

            <div class="row">
                <div id="albumslist" class="col-sm-5">
                    <div>
                        @foreach (var album in Model)
                        {
                            <div class="album-container">
                                <img src="@album.ImageUrl" class="album-image pull-left" />
                                <div class="album-title">
                                    <a href="~/albums?id=@album.Id">@album.Title</a>
                                </div>
                                <div class="album-artist">by @album.Artist.ArtistName</div>
                                <div class="album-content small">
                                    @HtmlUtils.HtmlAbstract(@album.Description, 190)
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        }
                        <div class="clearfix"></div>
                    </div>
                </div>

                <div class="col-sm-7">
                    <div class="pull-right">
                        <button id="DisplayMode1" class="btn btn-default displaymode-show"><i class="fa fa-edit"></i> <span data-resource-id="Edit"> @AlbumViewerResources.Edit</span></button>
                        <button id="DisplayMode2" class="btn btn-default displaymode-edit"><i class="fa fa-eye"></i> <span data-resource-id="Show"> @AlbumViewerResources.Show</span></button>
                    </div>

                    @Html.Partial("ShowAlbum_Partial", Album)

                    @Html.Partial("EditAlbum_Partial", Album)
                </div>
            </div>
        </div>


    </div>


    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js" type="text/javascript"></script>
    <script type="text/javascript">
        if (typeof (jQuery) == 'undefined')
            document.write(unescape("%3Cscript src='LocalizationAdmin/bower_components/jquery/dist/jquery.min.js' type='text/javascript'%3E%3C/script%3E"));
    </script>
    <script src="~/LocalizationAdmin/scripts/ww.jquery.min.js"></script>


    <script>
        // global script settings
        globals = {
            baseUrl: "./",
            editResources: @(allowResourceEditing ? "true" : "false" )
        };

        var $albumList = $("#albumslist");
        $albumList.on("click", ".album-container", function() {
            var a = $(this).find("a");
            window.location.href = a.prop('href');
        });

        function resizeList() {
            $albumList.height($(window).height() - 145);
        }

        $(window).resize(resizeList);
        resizeList();


        $("#DisplayMode1,#DisplayMode2").click(function() {
            if ($(this).hasClass('displaymode-show')) {
                $(".displaymode-show").hide();
                $(".displaymode-edit").show();
            } else {
                $(".displaymode-show").show();
                $(".displaymode-edit").hide();
            }
        });
    </script>


<!-- Enable resource editing -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js" type="text/javascript"></script>
@if (allowResourceEditing)
{
    <script src="~/localizationAdmin/scripts/ww.resourceEditor.js"></script>
    <script>
        var basePath = "@Url.Content("~/localizationAdmin")";

        // enable resource editing - button on bottom right
        ww.resourceEditor.showEditButton({
                adminUrl: basePath,
                editorWindowOpenOptions: "height=600, width=900, left=30, top=30"
            }
        );
    </script>
}

</body>
</html>