@using System.Threading
@using Westwind.Globalization
@using Westwind.Globalization.Sample
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
    <link href="Content/bootstrap.css" rel="stylesheet" />
    <style>
        label {
            display: block;
            margin-top: 10px;
            margin-bottom: 0;
        }
    </style>
</head>
<body>
    <form id="form1" runat="server">
        <h1>DbResourceManager Simple Resource Test</h1>
        
        <div class="well container">
            <div>Current Culture: @Thread.CurrentThread.CurrentCulture.IetfLanguageTag</div>
            <div>Current UI Culture: @Thread.CurrentThread.CurrentUICulture.IetfLanguageTag</div>

            <div class="container">
                <fieldset>
                    <legend>DbRes</legend>

                    <label>Using DbRes Direct Access Provider (default locale):</label>
                    @DbRes.T("HelloWorld", "Resources")

                    <label>Using DbRes Force to German:</label>
                    @DbRes.T("HelloWorld", "Resources", "de")
                </fieldset>
            </div>

            <div class="container">
                <fieldset>
                    <legend>ASP.NET ResourceProvider</legend>
                    <label>Get GlobalResource Object (default locale):</label>
                    @HttpContext.GetGlobalResourceObject("Resources", "HelloWorld")
                </fieldset>
            </div>

            <div class="container">
                <fieldset>
                    <legend>Strongly Typed Resource (generated)</legend>

                    <label>Strongly typed Resource Generated from Db (uses ASP.NET ResourceProvider)</label>
                    @Resources.Helloworld
                </fieldset>
            </div>
            
            
            New Value: @DbRes.T("Brand New Value")
            New Value (Resource Provider): @HttpContext.GetGlobalResourceObject("Resources","Brand New Value 2")

        </div>
</form>
</body>
</html>
